{% extends "base.html" %}
{% load static %}
{% block content %}
    <section class="spad">
        <div class="container mt-5">

            <div class="row mt-4">
                <div class="col-md-8 offset-md-2">
                    <!-- <h2> Blog Title </h2> -->
                    <div class="mb-4 ">
                        <!-- Blog Thumbnail -->
                    </div>
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <!-- Blog Dates -->

                    </div>
                    <div class="content text-white">
                        <!-- Blog Content -->
                        
                    </div>
                        <!-- Update Delete Buttons -->
                    <div class="blog-details-tag-share pt-5">
                        <!-- Tags -->

                    </div>
                    <div class="blog-details-author">
                        <!-- Author details -->

                    </div>
                    <!-- <div class="row">
                        <div class="col-lg-6">
                            <div class="comment-option">
                                <h5 class="co-title">Comment</h5>
                                <div class="co-item">
                                    <div class="co-widget">
                                        <a href="#"><i class="fa fa-heart-o"></i></a>
                                        <a href="#"><i class="fa fa-share-square-o"></i></a>
                                    </div>
                                    <div class="co-pic">
                                        <img src="{% static 'img/blog/details/comment-1.jpg'%}" alt="">
                                        <h5>Brandon Kelley</h5>
                                    </div>
                                    <div class="co-text">
                                        <p>Neque porro quisquam est, qui dolorem ipsum dolor sit amet, consectetur,
                                            adipisci velit dolore.</p>
                                    </div>
                                </div>
                                <div class="co-item reply-comment">
                                    <div class="co-widget">
                                        <a href="#"><i class="fa fa-heart-o"></i></a>
                                        <a href="#"><i class="fa fa-share-square-o"></i></a>
                                    </div>
                                    <div class="co-pic">
                                        <img src="{% static 'img/blog/details/comment-1.jpg'%}" alt="">
                                        <h5>Brandon Kelley</h5>
                                    </div>
                                    <div class="co-text">
                                        <p>Neque porro quisquam est, qui dolorem ipsum dolor sit amet, consectetur,
                                            adipisci velit dolore.</p>
                                    </div>
                                </div>
                                <div class="co-item">
                                    <div class="co-widget">
                                        <a href="#"><i class="fa fa-heart-o"></i></a>
                                        <a href="#"><i class="fa fa-share-square-o"></i></a>
                                    </div>
                                    <div class="co-pic">
                                        <img src="{% static 'img/blog/details/comment-1.jpg'%}" alt="">
                                        <h5>Brandon Kelley</h5>
                                    </div>
                                    <div class="co-text">
                                        <p>Neque porro quisquam est, qui dolorem ipsum dolor sit amet, consectetur,
                                            adipisci velit dolore.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="leave-comment">
                                <h5>Leave a comment</h5>
                                <form action="#">
                                    <input type="text" placeholder="Name">
                                    <input type="text" placeholder="Email">
                                    <input type="text" placeholder="Website">
                                    <textarea placeholder="Comment"></textarea>
                                    <button type="submit">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </section>

{% endblock %}
